<ion-header>
  <ion-toolbar color="primary" style="height: 3.5rem !important;">
    <ion-title class="ion-text-center">
      <ion-label style="font-family: futura-bold;"><strong> SISTEMA PARA CONTRATACION DE ASPIRANTES </strong></ion-label>  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ">
 
  <!-- <form action="">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="" #email required=""></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="" #password required=""></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="12">
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block" shape="round">
          Login
        </ion-button>
      </ion-col>
    </ion-row>
  </form> -->

  <ion-grid fixed style="height: 100%; ">
    <ion-row style="height: 100%; ">
      <ion-col size="0"  size-lg="7" size-md="5" size-sm="4" size-xs="0" ></ion-col>

      <ion-col size="12"  size-lg="5" size-md="7" size-sm="8" size-xs="12">

        <form #formulario="ngForm" class="form-login ion-padding">
          <ion-grid fixed style="height: 100%; ">

            <ion-row style="height: 30%; ">
              <ion-col style="margin-top: 0% !important;">
                <img src="../../../assets/icon/logo-promine.svg" alt="" />
                <ion-label style="font-family: futura-bold; color: #071F3B;">
                  <h1><strong>PROMINE</strong></h1>
                </ion-label>

                <ion-label color="" style="font-family: futura-medium; color: #071F3B;">
                  <h3>PROCESADORA DE MINERALES DEL ECUADOR</h3>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row style="height: 0%;">
              <ion-col size="12" style="height: 10%; margin: 2.5rem 0px .5rem 0px; ">
                <ion-label class="ion-text text-small"  style="color: #071F3B;">  Ingrese su correo y contraseña </ion-label>

                <ion-item class="rounded">
                  <ion-label position="floating">Correo electrónico</ion-label>
                  <ion-input type="email" name="email" #email
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    required>
                  </ion-input>
                </ion-item>
                <ion-item class="rounded">
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" name="password" #password required>
                  </ion-input>
                </ion-item>

                <div style="margin-bottom: 5%; bottom: 10%;">
                  <ion-button [disabled]="formulario.invalid" shape="round" expand="block" type="submit" (click)="onLogin(email, password)"
                    style="margin: 5rem !important;">
                    INGRESAR > 
                  </ion-button>

                  
                </div>


              </ion-col>
            </ion-row>
          </ion-grid>
        </form>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
<!-- (keyup.enter)="onLogin()"  -->