<ion-header>
  <ion-toolbar>
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="assets/icon/person.png" />
      </ion-avatar>
      <p class="ion-margin">
        <ion-label>
          {{aspirante.asp_apellidop}} {{aspirante.asp_apellidom}} {{aspirante.asp_nombres}} ::
          <b>{{aspirante.asp_cedula}}</b>
        </ion-label>
        <ion-label><i>{{aspirante.asp_cargo}}</i></ion-label>
      </p>
    </ion-item>
    <!-- <ion-title>Header</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
